.page-container {
  display: flex;
  justify-content: center;
  @media (max-width: 500px) {
    padding: 0.8rem 1.8rem;
  }
}

.page-content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem 2rem;
  max-width: 1100px;
  width: 100%;
  margin: 3.2rem auto;
  font-family: "Roboto Mono", monospace;

  @media (min-width: 800px) {
    grid-template-columns: 1fr 3fr 1fr;
    gap: 2.5rem 1.5rem;
  }

  h1 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    grid-column: 1/-1;
    font-size: 1.8em;
  }
}

.story-info {
  grid-column: 1/-1;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  a {
    letter-spacing: -1px;
  }
  span {
    margin: 0 12px;
    padding: 4px;
    background-color: #eee;
  }

  button {
    margin-left: 5px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 5px;
    outline: none;
  }

  .tooltip {
    border: 1px solid #fff;
    max-width: 250px;
  }
}

.image-container {
  grid-column: 1 / -1;
}

.full-width {
  img {
    width: 100%;
    height: auto;
    object-fit: cover;
    overflow: hidden;
    transition: transform 0.3s ease;
    cursor: pointer;
    &:hover {
      transform: scaleY(1.1);
    }
  }
}

.article-content {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  grid-column: 2/-2;
  p {
    margin-bottom: 10px;
    line-height: 1.5;
    min-width: 0px;
    overflow-wrap: break-word;
    transition: all 0.3s ease-in-out;
    position: relative;
  }
  a {
    position: relative;
  }

  h2 {
    font-family: "Roboto Mono", monospace;
    margin: 1.5rem 0;
    padding: 1.5rem 0;
  }

  blockquote {
    margin: 0;
  }
}

.small-headings {
  font-size: 1.5rem;
  @media (max-width: 500px) {
    font-size: 1.25rem;
  }
}

.type-headings {
  font-size: 1.8rem;
  @media (max-width: 500px) {
    font-size: 1.5rem;
    max-width: 500px;
  }
}

.highlight-link::after {
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 8px;
    background-color: rgba(150, 86, 161, 0.5);
  }
  &:hover {
    &::after {
      height: 25px;
    }
  }
}

.youtube-video {
  position: relative;
  padding-bottom: 56.25%;
  height: 0px;
  overflow: hidden;
  margin-bottom: 1.5rem;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    &::after {
      content: "";
      display: block;
      padding-top: 56.25%;
    }
  }
}
